.theme-aside {
    width: 100%;
    border: 1px solid #dae4ee;
    text-align: left;
    padding: 20px 70px;
    box-sizing: border-box;

    &_list {
        margin: 0 0 20px;
        padding: 0;
        list-style: none;
    }
    &_holder {
        display: inline-block;
        vertical-align: middle;
        height: 16px;
        width: 23px;

        svg {
            height: 16px;
            width: 18px;
            fill: $theme-color-main;
        }
    }
    span,
    .important-dates-item-title {
        display: inline-block;
        vertical-align: middle;
    }
}